.textInput {
    -fx-background-color: white;       
    -fx-background-radius: 13px;
        
    -fx-text-fill: black;
    
}

.text {
    -fx-font: bold 9pt "Gotham Medium";
}

.background {
    -fx-background-color: black;
}

.menuBar {
    -fx-background-color: rgb(55,55,55);
    
    -fx-border-width: 0 0 2 0;
    -fx-border-color: rgb(235, 148, 0);
    
    -fx-text-fill: black;
}

.menuItem:hover {
    -fx-background-color: white;
    -fx-text-fill: rgb(55,55,55);
}

.button {
    -fx-background-color: linear-gradient(#FBAE17 0%, rgb(235, 148, 0) 20%);
    -fx-border-radius: 13px;
    -fx-text-fill: black;

}

.label {
    -fx-text-fill: white;
}

.display {
    -fx-background-color: rgb(55, 55, 55);
    -fx-background-radius: 13px;
    -fx-border-radius: 13px;
    -fx-border-color: white;
    -fx-border-width: .5px;
    -fx-padding: 5px;
}

.list-cell {
    -fx-background-color: rgb(55, 55, 55);
    -fx-text-fill: white;
}

.list-cell:selected, .list-cell:hover {
    -fx-background-color: white;
    -fx-text-fill: rgb(55, 55, 55);
}
